

<div class="border-b border-gray-200 bg-white py-5 " id="<%= dom_id enquiry %>">
  <h2 class="text-lg font-semibold leading-6 text-gray-900"><%= enquiry.subject %></h2>
</div>
<div class="py-10">
  <%= enquiry.description %>
</div>
